@page
@model TheGreatAdventureGame.Pages.ConfirmCreatedPlayerModel
@{
    ViewData["Title"] = "Confirm Create Player";
}

<h1>Confirm Created Player</h1>
<p>Name: @Model.CreatedPlayer.Name</p>
<p>Starting Weapon: @Model.CreatedPlayer.EquiptedItem</p>

