@page
@model CreatePlayerModel
@{
    ViewData["Title"] = "Create Player";
}

<form method="post">
    <div>
        <label for="playerName">Player Name:</label>
        <input type="text" id="playerName" name="PlayerName" />
    </div>
    <div>
        <label for="weaponSelect">Select Weapon:</label>
        <select id="weaponSelect" name="StartingWeaponName">
            @* @foreach (var weapon in Model.StartingWeaponOptions) *@
            @* { *@
            @*     <option value="@weapon.Name">@weapon.Name</option> *@
            @* } *@
        </select>
    </div>
    <div>
    </div>

    <button type="submit">Create Player</button>
</form>
