@model TheGreatAdventureGame.State.GameState

<h1>The Great Adenture.</h1>

<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <div>
        @await Html.PartialAsync("_PlayerVitalStats", Model.Player)
    </div>
    <div>
        @await Html.PartialAsync("_PlayerInventorySquare", Model.Player)
    </div>
</div>

@await Html.PartialAsync("_LevelCatalog", Model.Levels)




